flask
pyyaml
loguru
boto3
pymongo>=4.7.3
torch>=2.2.0
ultralytics==8.1.0
opencv-python-headless>=4.8.1.78
pillow>=10.3.0
fonttools>=4.43.0
werkzeug>=3.0.6
wheel>=0.38.0
zipp>=3.19.1
dnspython>=2.6.1
requests>=2.32.2
numpy>=1.22.2
setuptools>=70.0.0
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability